body {
  background: rgb(255, 255, 255);
  margin: 0;
}

a {
  color: #3a3a3a;
  text-decoration: none;
}

a:visited {
  color: #3a3a3a;
}

#body-wrapper {
  max-width: 720px;
  margin: auto;
  padding: 0px 32px 72px 32px;
}

@media only screen and (min-width: 546px) {
  .nav {
    visibility: visible;
  }
  .mobilemenu {
    visibility: hidden;
    display: none;
  }
  #scroll-links {
    display: block;
  }
}

@media only screen and (max-width: 545px) {
  .navitems {
    visibility: hidden;
    display: none;
  }
  .mobilemenu {
    visibility: visible;
  }
  #header-details {
    display: none;
  }
  #scroll-links {
    display: none;
  }
  #modal-body {
    max-height: 580px;
  }
  h3 {
    padding-bottom: 12px;
  }
}

/* Main Nav */

.nav {
  top: 0;
  max-width: 960px;
  margin: auto;
}

ul {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  color: #3a3a3a;
  font-weight: 400;
  margin-bottom: 6em;
  list-style-type: none;
  padding-inline-start: 0px;
  cursor: pointer;
}

.nav ul li {
  padding: 20px 0px 20px;
}

.nav li:hover {
  transition: 200ms;
  text-decoration: underline;
  text-decoration-color: #70acac;
}

/* Mobile Nav */

.mobilemenu {
  top: 0;
  max-width: 960px;
  margin: auto;
  margin-bottom: 72px;
}

#menu-toggle {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  cursor: pointer;
}

#close {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  cursor: pointer;
}

.mobilemenu ul {
  margin: auto;
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  text-align: center;
}

#mobileoptions {
  margin-top: 32px;
  list-style-type: none;
  display: none;
  -webkit-animation: textFocusIn 1000ms cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: textFocusIn 1000ms cubic-bezier(0.23, 1, 0.32, 1) both;
}

#mobileoptions li {
  cursor: pointer;
  padding: 32px 0px 32px;
}

#mobileoptions li:hover {
  transition: 200ms;
  text-decoration: underline;
  text-decoration-color: #70acac;
}

#main {
  display: block;
  flex-direction: row;
  justify-content: center;
  -webkit-justify-content: center;
  margin-top: 8em;
}

#processnumbers {
  color: #70acac;
}

#zach-img {
  z-index: 2;
  position: relative;
  display: block;
  margin: 0 auto;
  height: 20em;
}

.textFocusIn {
  -webkit-animation: textFocusIn 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: textFocusIn 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

h1 {
  text-align: center;
  color: #000000;
  font-weight: 200;
  font-size: 2rem;
}

h2,
h3 {
  font-weight: 200;
  margin-top: 36px;
  margin-bottom: 8px;
  font-weight: 300;
  display: inline-block;
}

p {
  font-weight: 300;
  color: #3a3a3a;
}

/* Cards */

#card-container {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 960px;
}

#card {
  background: #ffffff;
  border-radius: 0.3rem;
  -webkit-box-shadow: -5px -8px 46px 0px rgba(222, 222, 222, 0.5);
  -moz-box-shadow: -5px -8px 46px 0px rgba(222, 222, 222, 0.5);
  box-shadow: -5px -8px 46px 0px rgba(222, 222, 222, 0.5);
  cursor: pointer;
  margin: 0 32px 32px 32px;
  padding: 0;
  border: 1px solid #eeeeee;
  width: 240px;
  display: block;
  margin: auto;
  margin-bottom: 40px;
}

#card:hover {
  background: #ffffff;
  -webkit-box-shadow: -5px -8px 20px 0px rgba(222, 222, 222, 0.6);
  -moz-box-shadow: -5px -8px 20px 0px rgba(222, 222, 222, 0.6);
  box-shadow: -5px -8px 20px 0px rgba(222, 222, 222, 0.6);
  transition: 300ms;
}

#card:active {
  background: #ffffff;
  -webkit-box-shadow: -5px -8px 20px 0px rgba(222, 222, 222, 0.7);
  -moz-box-shadow: -5px -8px 20px 0px rgba(222, 222, 222, 0.7);
  box-shadow: -5px -8px 20px 0px rgba(222, 222, 222, 0.7);
  transition: 300ms;
}

#card h3 {
  margin-top: 16px;
  font-size: 1.6rem;
}

#card p {
  color: #ffffff;
  margin-top: 4px;
  font-size: 1rem;
  margin-bottom: 4px;
  padding-top: 0;
  padding-bottom: 0;
}

#card-top {
  background: #008082;
  padding: 16px 32px;
  border-radius: 0.3rem 0.3rem 0 0;
}

/* Modal */
#modal-container {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
}

#behind-modal {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.blur {
  filter: blur(16px);
  height: 100%;
}

#modal {
  max-width: 960px;
  height: calc(100% - 80px);
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  border-radius: 0.3rem;
  -webkit-box-shadow: -5px -8px 46px 0px rgba(222, 222, 222, 0.5);
  -moz-box-shadow: -5px -8px 46px 0px rgba(222, 222, 222, 0.5);
  box-shadow: -5px -8px 46px 0px rgba(222, 222, 222, 0.5);
  top: 20px;
  z-index: 2;
  border: 1px solid #eeeeee;
  /* Enter */
  -webkit-animation: cardModalTransition 500ms;
  -moz-animation: cardModalTransition 500ms;
  -o-animation: cardModalTransition 500ms;
  animation: cardModalTransition 500ms;
}

#material {
  padding-right: 16px;
  overflow-y: scroll;
  height: calc(100vh - 260px);
}

#modal-header {
  top: 40px;
  padding: 0px 32px;
  border-radius: 0.3rem 0.3rem 0rem 0rem;
  background: #008082;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}

#modal-header h3 {
  color: #ffffff;
  margin-bottom: 0;
  font-weight: 400;
}
#header-info {
  padding-bottom: 12px;
}

#modal-header p {
  color: #ffffff;
  margin-top: 4px;
  font-size: 1rem;
  margin-bottom: 4px;
  padding-top: 0;
  padding-bottom: 0;
}

#modal-body {
  margin-top: 40px;
  min-height: 200px;
  max-height: 520px;
  margin: 32px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}

#scroll-links {
  justify-content: flex-start;
  min-width: 80px;
  padding-right: 52px;
  text-align: left;
}

li {
  font-weight: 200;
  color: #3a3a3a;
  font-weight: 400;
  margin-bottom: 1.2em;
  list-style-type: none;
}

#scroll-links li:hover {
  transition: 200ms;
  text-decoration: underline;
  text-decoration-color: #70acac;
}

#close-button {
  cursor: pointer;
  margin-top: 4px;
  padding: 16px;
  background: #008082;
  border: none;
}

#line {
  position: relative;
  width: 24px;
  margin-top: 2px;
  height: 1px;
  background: #ffffff;
  transform: rotate(45deg);
}

#line2 {
  position: relative;
  width: 24px;
  height: 1px;
  background: #ffffff;
  transform: rotate(135deg);
}

/* Animations */

@-webkit-keyframes textFocusIn {
  0% {
    -webkit-filter: blur(16px);
    filter: blur(16px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes textFocusIn {
  0% {
    -webkit-filter: blur(16px);
    filter: blur(16px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes cardModalTransition {
  0% {
    transform: scale(0.5);
    -webkit-filter: blur(16px);
    filter: blur(16px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes cardModalTransition {
  0% {
    transform: scale(0.5);
    -webkit-filter: blur(16px);
    filter: blur(16px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes peaceHand {
  0% {
    stroke-dasharray: 6588;
    stroke-dashoffset: 3294;
    opacity: 0;
  }
  100% {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
